@font-face {
  font-family: Summer Hearts;
  src: url(fonts/SummerHearts-Regular.otf); }
@font-face {
  font-family: Gotham Narrow Bold;
  src: url(fonts/GothamNarrowBold.otf); }
@font-face {
  font-family: Gotham Narrow;
  src: url(fonts/GothamNarrowBook.otf); }
body {
  text-align: center;
  background-color: #323232;
  margin: 0 auto; }
  body .all-content {
    margin: 0;
    background-color: red; }
    body .all-content #myNavbar {
      background-color: black; }
    body .all-content .scroll-content {
      background-color: black; }
      body .all-content .scroll-content p {
        color: white;
        position: fixed;
        font-size: 24px;
        bottom: 100px;
        right: 20px; }
      body .all-content .scroll-content .mouse {
        position: fixed;
        bottom: 25px;
        right: 60px;
        background-color: white;
        border-radius: 50px;
        width: 50px;
        height: 75px; }
        body .all-content .scroll-content .mouse .scroll {
          position: fixed;
          bottom: 80px;
          right: 80px;
          width: 10px;
          height: 10px;
          background-color: black;
          border-radius: 30px;
          animation-name: MoveUpDown;
          animation-duration: infinite;
          /* Chrome, Safari, Opera */
          -webkit-animation-name: upName;
          -webkit-animation-duration: 2s;
          -webkit-animation-iteration-count: infinite;
          /* Other */
          animation-name: upDown;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          /* Chrome, Safari, Opera */
          /* Other */ }
@-webkit-keyframes upDown {
  0% {
    bottom: 80px; }
  50% {
    bottom: 70px; }
  100% {
    bottom: 80px; } }
@keyframes upDown {
  0% {
    bottom: 80px; }
  50% {
    bottom: 70px; }
  100% {
    bottom: 80px; } }
    body .all-content .header-image {
      background: linear-gradient(rgba(133, 22, 40, 0.46), rgba(133, 22, 40, 0.46)), url(img/afg-img/millennials-manual.jpg);
      background-repeat: no-repeat;
      background-size: 100% auto; }
      body .all-content .header-image .header-content {
        margin: 0 auto;
        padding-top: 7%;
        width: 50%; }
        body .all-content .header-image .header-content p {
          color: white;
          font-family: Summer Hearts; }
        body .all-content .header-image .header-content img {
          width: 25%;
          height: 25%; }
    body .all-content .content {
      background-color: white; }
      body .all-content .content .rockefeller-content {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/afg-img/rockefeller-center.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: black; }
        body .all-content .content .rockefeller-content .quote-content {
          padding: 25px 20% 25px 20%; }
          body .all-content .content .rockefeller-content .quote-content .mil-quote {
            position: relative;
            text-align: left;
            margin-left: 27%;
            padding-top: 100px;
            padding-bottom: 120px;
            font-size: 17px; }
            body .all-content .content .rockefeller-content .quote-content .mil-quote p {
              margin-left: 30px;
              color: lightgray; }
            body .all-content .content .rockefeller-content .quote-content .mil-quote cite {
              margin-left: 30px;
              color: lightgray; }
        body .all-content .content .rockefeller-content .video-container #vid1 {
          border-style: solid;
          border-color: white;
          width: 77%; }
      body .all-content .content .article {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(img/afg-img/articlebackground.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 30% 0;
        padding: 20px 0 20px 0;
        margin: 0; }
        body .all-content .content .article .text {
          font-family: Gotham Narrow; }
          body .all-content .content .article .text #title-text {
            font-family: Gotham Narrow Bold; }
          body .all-content .content .article .text #top-text {
            font-family: Gotham Narrow Bold;
            margin-left: 5%; }
          body .all-content .content .article .text p {
            text-align: left;
            font-size: 18px; }
        body .all-content .content .article #text-box1 {
          margin: 0 50% 0 5%; }
        body .all-content .content .article #text-box2 {
          position: relative;
          margin: 0 5% 0 45%;
          padding-right: 2%;
          padding-bottom: 200px; }
        body .all-content .content .article #text-box3 {
          position: relative;
          border: 2px 2px 2px 0;
          margin: 0 55% 0 0;
          border-top: 4px solid black;
          border-right: 4px solid black;
          border-bottom: 4px solid black; }
          body .all-content .content .article #text-box3 p {
            padding-left: 5%; }
        body .all-content .content .article #text-box4 {
          position: relative;
          padding-top: 150px;
          margin: 15px 10% 15px 5%; }
        body .all-content .content .article #text-box5 {
          position: relative;
          margin: 0 50% 0 5%; }
        body .all-content .content .article #text-box6 {
          margin: 0 5% 0 50%; }
      body .all-content .content .infographic-content {
        background-color: black; }
        body .all-content .content .infographic-content .infographic {
          margin: 0 auto; }
          body .all-content .content .infographic-content .infographic #info-img {
            width: 100%;
            height: 100%; }
    body .all-content .bottom {
      background-color: #410618;
      padding-top: 20px;
      padding-bottom: 50px; }
      body .all-content .bottom .row {
        padding: 10px;
        margin: 0; }
        body .all-content .bottom .row .footerList {
          padding: 10px;
          list-style: none; }
          body .all-content .bottom .row .footerList li {
            text-align: left; }
            body .all-content .bottom .row .footerList li p {
              color: lightpink; }
            body .all-content .bottom .row .footerList li h3 {
              color: #a30f3c; }
      body .all-content .bottom .hori-cont {
        padding: 20px 2% 20px 2%; }
        body .all-content .bottom .hori-cont .hori-line {
          height: 2px;
          border-radius: 10px;
          width: 100%;
          background-color: white; }
      body .all-content .bottom .footer-info {
        padding-top: 10px;
        font-size: 15px;
        line-height: .5;
        color: white; }

/*# sourceMappingURL=afg-style.css.map */
