@font-face {
    font-family: Summer Hearts;
    src: url(fonts/SummerHearts-Regular.otf);
}
@font-face {
    font-family: Gotham Narrow Bold;
    src: url(fonts/GothamNarrowBold.otf);
}
@font-face {
    font-family: Gotham Narrow;
    src: url(fonts/GothamNarrowBook.otf);
}

body {
    text-align: center;
    background-color: white;
    max-width: 1300px;
    min-width: 770px;
    padding: 0, 0, 10px, 0;
    margin: 0 auto;

    .all-content {
        margin: 0;
        background-color: blue;
        //margin-top: 51px;

        #myNavbar  {
            background-color: black;
        }

        .header-image {
        	background: linear-gradient(rgba(133,22,40,0.46), rgba(133,22,40,0.46)), url(img/afg-img/millennials-manual.jpg);
        	background-repeat: no-repeat;
            background-size: 100% auto;

            .header-content {
            	margin: 0 auto;
            	padding-top: 5%;
				width: 50%;

                p {
                    color: white;
                    font-family: Summer Hearts;
                    text-shadow: 5px -5px 5px rgb(65,6,24); //x-coordinate y-coordinate blur color
                }

                #catch-logo {
                    width: 25%;
                    height: 25%;
                }

                #scroll {
                    margin: 0 auto;
                    width: 50px;
                    height: 70px;
                }
            }
        }


        .content {
            background-color: white;

            .rockefeller-content {
                background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/afg-img/rockefeller-center.jpg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-color: black;

                .quote-content {
                    padding: 30px 20% 20px 20%;
                    
                    .mil-quote {
                        position: relative;
                        text-align: left;
                        margin-left: 27%;
                        padding-top: 100px;
                        padding-bottom: 100px;
                        font-size: 17px;

                        p {
                            margin-left: 30px;
                            color: lightgray;
                        }

                        cite {
                            margin-left: 30px;
                            color: lightgray;
                            font-size: 15px;
                        }
                    }                    
                }

                .video-container {
                    position: relative;

                    #vid1 {
                        border-style: solid;
                        border-color: white;
                        width: 75%;
                        //height: 97%;
                    }
                }
            }
            
            .article {
                background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url(img/afg-img/articlebackground.png);
                background-repeat: no-repeat;
                background-size: 125%;
                background-position: 0 -100px;
                padding: 20px 0 0 0;
                margin: 0;

                .text {
                    font-family: Gotham Narrow;

                    .title-text {
                        font-family: Gotham Narrow Bold;
                    }
                    #top-text {
                        font-family: Gotham Narrow Bold;
                        padding: 0;
                        margin: 0;
                        margin-left: 5%;
                    }

                    p {
                        text-align: left;
                        font-size: 18px;
                    }
                }

                #text-box1 {
                    margin: 0 50% 0 5%;
                }

                #text-box2 {
                    position: relative;
                    padding: 0 5% 0 45%;
                    margin: 50px 5% 200px 0;
                }

                #text-box3 {
                    position: relative;
                    border: 2px 2px 2px 0;
                    margin: 0 55% 0 0;
                    border-top: 4px solid black;
                    border-right: 4px solid black;
                    border-bottom: 4px solid black;

                    p {
                        padding-left: 5%;
                    }
                }

                #text-box4 {
                    position: relative;
                    padding: 100px 10% 15px 5%;
                }

                #special-text {
                    position: relative;
                }

                #text-box5 {
                    position: relative;
                    margin: 0 50% 0 5%;
                }

                #text-box6 {
                    position: relative;
                    padding: 50px 5% 20px 50%;
                }

            }

            .infographic-content {
                background-color: black;

                .infographic {
                    margin: 0 auto;

                    #info-img {
                        width: 100%;
                    }
                }
            }

/*
.header-image {
    background: linear-gradient(rgba(133,22,40,0.46), rgba(133,22,40,0.46)), url(img/afg-img/millennials-manual.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    //background-size: 100% auto;

    .header-content {
        margin: 0 auto;
        padding-top: 7%;
        width: 50%;

        p {
            color: white;
            font-family: Summer Hearts;
            //text-shadow: 5px -5px 5px rgb(65,6,24); //x-coordinate y-coordinate blur color}
        img {
            width: 25%;
            height: 25%;}}}
*/

            .quiz-content {
                background: url(img/afg-img/bba-city-background.jpg);
                background-size: 100% auto;
                background-repeat: no-repeat;
                margin: 0 auto;
                position: relative;

                .quiz-link {
                    background-color: white;
                    position: absolute;
                    right: 0;
                    font-size: 35px;
                    font-family: Gotham Narrow Bold;
                    text-align: left;
                    padding: 20px 20px 10px 10px;
                    line-height: 1;

                    span {
                        font-size: 15px;
                    }

                    a {
                        font-size: 15px;
                    }
                }

                .quiz {
                    position: absolute;
                    bottom: 0;

                    #quiz-image {
                        width: 90%;
                    }
                }
            }
        }


        .bottom {
            background-color: #410618;
            padding-top: 20px;
            padding-bottom: 50px;

            .row {
                padding: 10px;
                margin: 0;

                .footerList {
                    padding: 10px;
                    list-style: none;

                    li {
                        text-align: left;

                        p {
                            //insert style
                            color: lightpink;
                        }

                        h3 {
                            color: #a30f3c;
                        }
                    }
                }
            }

            .hori-cont {
                padding: 20px 2% 20px 2%;

                .hori-line {
                    height: 2px;
                    border-radius: 10px;
                    width: 100%;
                    background-color: white;
                }
            }

            .footer-info {
                padding-top: 10px;
                font-size: 15px;
                line-height: .5;
                color: white;
            }
        }
    }
}